In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
236,tt2319580,12700000,3430018,The Grand Seduction,Brendan Gleeson|Taylor Kitsch|Gordon Pinsent|L...,Don McKellar,The small town of Tickle Cove needed a doctor....,A small fishing village must procure a local d...,112,Comedy,Max Films Productions|Morag Loves Company,5/30/2014,6.7,2014
732,tt1568346,90000000,232617430,The Girl with the Dragon Tattoo,Daniel Craig|Rooney Mara|Christopher Plummer|G...,David Fincher,Evil shall with evil be expelled.,This English-language adaptation of the Swedis...,158,Thriller|Crime|Mystery|Drama,Columbia Pictures|Scott Rudin Productions|Film...,12/14/2011,7.1,2011
150,tt1204977,5000000,102529779,Ouija,Olivia Cooke|Ana Coto|Daren Kagasoff|Bianca A....,Stiles White,Keep telling yourself it's just a game,A group of friends must confront their most te...,89,Horror,Universal Pictures|Platinum Dunes|Media Rights...,10/24/2014,4.9,2014
1196,tt1606378,92000000,304654182,A Good Day to Die Hard,Bruce Willis|Jai Courtney|Sebastian Koch|Mary ...,John Moore,Yippee Ki-Yay Mother Russia,"Iconoclastic, take-no-prisoners cop John McCla...",98,Action|Thriller,Ingenious Media|Twentieth Century Fox Film Cor...,2/6/2013,5.2,2013
1649,tt0356618,42000000,117575636,The Forgotten,Julianne Moore|Anthony Edwards|Jessica Hecht|C...,Joseph Ruben,You'll Never Forget The Ones You Love,Telly Paretta is a grieving mother struggling ...,91,Crime|Drama|Horror|Mystery|Science Fiction,Revolution Studios|Jinks/Cohen Company|Visual ...,9/24/2004,5.4,2004

In [87]:
#общая информация
print(data.describe())
print(data.describe(include = ['object']))
print(data.info())

             budget       revenue      runtime  vote_average  release_year  \
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

             profit        month  len_original_title  count_overview
count  1.889000e+03  1889.000000         1889.000000     1889.000000
mean   1.010545e+08     6.933298           15.037057       52.410270
std    1.830733e+08     3.390196            8.552660       26.631917
min   -1.657101e+08     1.000000            1.000000       10.000000
25%    5.000000e+06     4.000000            9.000000       32.000000
50%    4.400041e+07     7.000000           13.000000       48.000000
75%    1.201842e+08    10.000000           18.000000       67.000000
max    2.544506e+09    12.000000           83.000000      175.000000
          imdb_id original_title  \
count        1889           1889
unique       1889           1887
top     tt0455538       The Gift
freq            1              2

                                                     cast           director  \
count                                                1889               1889
unique                                               1878                957
top     Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...  Steven Soderbergh
freq                                                    3                 13

                     tagline  \
count                   1889
unique                  1880
top     What could go wrong?
freq                       2

                                                 overview  genres  \
count                                                1889    1889
unique                                               1889     652
top     A packed cruise ship traveling the Atlantic is...  Comedy
freq                                                    1     141

       production_companies
count                  1889
unique                 1624
top         New Line Cinema
freq                     21
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   datetime64[ns]
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  profit                1889 non-null   int64
 15  month                 1889 non-null   int64
 16  len_original_title    1889 non-null   int64
 17  count_overview        1889 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(8), object(8)
memory usage: 265.8+ KB
None
1889

# Предобработка

In [72]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
# расчитаем колонку прибыль(прибыль = сборы - бюджет)
data['profit'] = data['revenue'] - data['budget']
#the time given in the dataset is in string format.
#So we need to change this in datetime format
data['release_date']=pd.to_datetime(data['release_date'])
#добавим колонку месяц для задач 21-23
data['month'] = data['release_date'].dt.month

display(data)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6.5,2015,1363528810,6
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,7.1,2015,228436354,5
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,6.3,2015,185238201,3
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,7.5,2015,1868178225,12
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,7.3,2015,1316249360,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,2000-07-13,6.6,2000,82299717,7
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,2000-10-27,6.4,2000,-8444012,10
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,2000-06-30,4.0,2000,-40865180,6
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2000-02-16,5.2,2000,-3962091,2
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,2000-07-19,5.2,2000,-9782502,7

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()][['imdb_id', 'original_title']]

       imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

In [97]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' #+
# если ответили верно, можете добавить комментарий со значком "+"

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
data[data.runtime == data.runtime.max()][['imdb_id', 'original_title']]

        imdb_id     original_title
1157  tt0279111  Gods and Generals

In [98]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)' #+

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
data[data.runtime == data.runtime.min()][['imdb_id', 'original_title']]

       imdb_id   original_title
768  tt1449283  Winnie the Pooh

In [99]:
answers['3'] = '3. Winnie the Pooh (tt1449283)' #+

# 4. Какова средняя длительность фильмов?

In [12]:
print(round(data.runtime.mean()))

110

In [100]:
answers['4'] = '2. 110' #+

# 5. Каково медианное значение длительности фильмов?

In [14]:
print(data.runtime.median())

107.0

In [101]:
answers['5'] = '1. 107.0' #+

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()][['imdb_id', 'original_title']]

       imdb_id original_title
239  tt0499549         Avatar

In [102]:
answers['6'] = '5. Avatar (tt0499549)' #+

# 7. Какой фильм самый убыточный?

In [20]:
data[data.profit == data.profit.min()][['imdb_id', 'original_title']]

        imdb_id   original_title
1245  tt1210819  The Lone Ranger

In [103]:
answers['7'] = '5. The Lone Ranger (tt1210819)' #+

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [22]:
data[data.revenue > data.budget].original_title.count()

1478

In [104]:
answers['8'] = '1. 1478' #+

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [26]:
print(data[data.revenue == data[data.release_year ==
                                2008].revenue.max()][['imdb_id', 'original_title']])

       imdb_id   original_title
599  tt0468569  The Dark Knight

In [105]:
answers['9'] = '4. The Dark Knight (tt0468569)' #+

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [31]:
print(data[(data.release_year >= 2012) & (data.release_year <= 2014)].profit.min())
print(data[data.profit == -165710090][['imdb_id', 'original_title']])

-165710090
        imdb_id   original_title
1245  tt1210819  The Lone Ranger

In [106]:
answers['10'] = '5. The Lone Ranger (tt1210819)' #+

# 11. Какого жанра фильмов больше всего?

In [38]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

#сначала пойдем одним из длинных и неэффективныx путем
#1-й вариант
df = pd.DataFrame() #создаем пустой датафрейм 
#проходимся по колнке genres и разбиваем жанры там где их несколько
#и заполняем ими колонки нового датафрейма
df = data.genres.str.split("|",expand=True)
#переименуем колонки созданные автоматически чтобы проще было к ним обращаться
df.columns = ['name1', 'name2', 'name3', 'name4', 'name5']
#персчтитываем в каждом столбце жанры
#и создаем из каждого отдельный датафрейм из двух колонок соответсвенно(жанр и количество) 
n1 = df['name1'].value_counts()
n1_df = n1.reset_index()
n1_df.columns = ['genres','count']

n2 = df['name2'].value_counts()
n2_df = n2.reset_index()
n2_df.columns = ['genres','count']

n3 = df['name3'].value_counts()
n3_df = n3.reset_index()
n3_df.columns = ['genres','count']

n4 = df['name4'].value_counts()
n4_df = n4.reset_index()
n4_df.columns = ['genres','count']

n5 = df['name5'].value_counts()
n5_df = n5.reset_index()
n5_df.columns = ['genres','count']

#объединяем все наши датафреймы полученные выше по колонке genres
res = pd.concat([n1_df, n2_df, n3_df, n4_df, n5_df], ignore_index=True)
#суммируем и сортируем по возрастанию
grouped_df = res.groupby(['genres'])['count'].sum().sort_values(ascending=False)
display(grouped_df)

genres
Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: count, dtype: int64

ВАРИАНТ 2

In [41]:
#2-й вариант
#также пробегаемся по колнке genres и разбиваем жанры, там где их несколько
#и загоняем их в серию
ds = pd.Series(data['genres'].str.cat(sep='|').split('|'))
#подсчитываем сколько раз встречается каждое значение в серии 
print(ds.value_counts(ascending=False))

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

In [107]:
answers['11'] = '3. Drama' #+

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [126]:
ds = pd.Series(data[data.profit > 0].genres.str.cat(sep='|').split('|'))
#подсчитываем сколько раз встречается каждое значение в серии 
print(ds.value_counts(ascending=False))

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

In [108]:
answers['12'] = '1. Drama' #+

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [127]:
#1-й вариант
grouped_df = data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
print(grouped_df)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

In [45]:
# 2-й вариант для проверки(вдруг режиссеров у фильма может быть несколько)
ds_director = pd.Series(data['director'].str.cat(sep='|').split('|'))
ds_director = ds_director.value_counts(ascending=False)
for director in ds_director.index:
    ds_director[director] = data['revenue'][data['director'].map(
        lambda x: True if director in x else False)].sum()
print(ds_director.sort_values(ascending=False))
# судя по количеству, такие ситуации действительно есть, 
#но на наш ответ в данном случае они не влияют

Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Length: 997, dtype: int64

In [109]:
answers['13'] = '5. Peter Jackson' #+

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [54]:
ds_director1 = pd.Series(data[data['genres'].str.contains(
    "Action")].director.str.cat(sep='|').split('|'))
ds_director1 = ds_director1.value_counts(ascending=False)
print(ds_director1)

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Jeff Tremaine         1
Doug Lefler           1
Rian Johnson          1
Andrew Stanton        1
Jon Avnet             1
Length: 364, dtype: int64

In [110]:
answers['14'] = '3. Robert Rodriguez' #+

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [56]:
data_12 = data.query('release_year == 2012')
cast = pd.Series(data_12['cast'].str.cat(sep='|').split('|'))
cast = cast.value_counts(ascending=False)

for actor in cast.index:
    cast[actor] = data_12['revenue'][data_12['cast'].map(
        lambda x: True if actor in x else False)].sum()
print(cast.sort_values(ascending=False))

Chris Hemsworth       2027450773
Denis Leary           1629460639
Anne Hathaway         1522851057
Scarlett Johansson    1519557910
Chris Evans           1519557910
                         ...
Hope Davis               3428048
Nicolas Cage             2106557
Josh Lucas               2106557
Danny Huston             2106557
Sami Gayle               2106557
Length: 466, dtype: int64

In [111]:
answers['15'] = '3. Chris Hemsworth' #+

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [58]:
data_big_budget = data[data.budget > data.budget.mean()]
cast = pd.Series(data_big_budget['cast'].str.cat(sep='|').split('|'))
cast = cast.value_counts(ascending=False)
display(cast)

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Tom Cruise           15
                     ..
Robert Forster        1
Jerry Stiller         1
Piper Perabo          1
Stan Collymore        1
Daniel Olbrychski     1
Length: 1505, dtype: int64

In [112]:
answers['16'] = '3. Matt Damon' #+

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [62]:
ds_genres = pd.Series(data[data['cast'].str.contains(
    "Nicolas Cage")].genres.str.cat(sep='|').split('|'))
ds_genres = ds_genres.value_counts(ascending=False)
print(ds_genres)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
Romance             1
War                 1
Horror              1
dtype: int64

In [113]:
answers['17'] = '2. Action' #+

# 18. Самый убыточный фильм от Paramount Pictures

In [60]:
data_Paramount = data[data.production_companies.str.contains(
    "Paramount Pictures", na=False)]
print(data_Paramount[data_Paramount.profit == data_Paramount.profit.min()])

       imdb_id     budget   revenue        original_title  \
925  tt0267626  100000000  35168966  K-19: The Widowmaker

                                                  cast         director  \
925  Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...  Kathryn Bigelow

                      tagline  \
925  Fate has found its hero.

                                              overview  runtime  \
925  When Russia's first nuclear submarine malfunct...      138

                     genres  \
925  Thriller|Drama|History

                                  production_companies release_date  \
925  Paramount Pictures|Intermedia Films|National G...   2002-07-19

     vote_average  release_year    profit
925           6.0          2002 -64831034

In [114]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)' #+

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [65]:
grouped_df = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
display(grouped_df)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [115]:
answers['19'] = '5. 2015' #+

# 20. Какой самый прибыльный год для студии Warner Bros?

In [67]:
data_WarnerBros = data[data.production_companies.str.contains(
    "Warner Bros", na=False)]
grouped_WarnerBros = data_WarnerBros.groupby(
    ['release_year'])['profit'].sum().sort_values(ascending=False)
print(grouped_WarnerBros)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [116]:
answers['20'] = '1. 2014' #+

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [73]:
grouped_df = data.groupby(['month'])['original_title'].count().sort_values(ascending=False)
display(grouped_df)

month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: original_title, dtype: int64

In [117]:
answers['21'] = '4. Сентябрь' #+

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [74]:
data_summer = data[(data.month==6)|(data.month==7)|(data.month==8)]
print(len(data_summer))

450

In [118]:
answers['22'] = '2. 450' #+

# 23. Для какого режиссера зима – самое продуктивное время года?

In [76]:
data_winter = data[(data.month == 1) | (data.month == 2) | (data.month == 12)]
grouped_df = data_winter.groupby(
    ['director'])['original_title'].count().sort_values(ascending=False)
print(grouped_df)

director
Peter Jackson                          7
Steven Soderbergh                      6
Clint Eastwood                         6
Nancy Meyers                           4
Adam Shankman                          4
                                      ..
Matt Bettinelli-Olpin|Tyler Gillett    1
Matt Reeves                            1
Matthew O'Callaghan                    1
Matthew Vaughn                         1
Aaron Seltzer|Jason Friedberg          1
Name: original_title, Length: 332, dtype: int64

In [119]:
answers['23'] = '5. Peter Jackson' #+

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [79]:
companies = data.production_companies.str.cat(sep='|').split('|')
companies = pd.Series(companies)
companies = companies.value_counts(ascending=False)
#добавим колонку с длиной названий фильмов
data['len_original_title'] = data.original_title.str.len() 

for compan in companies.index:
    companies[compan] = data['len_original_title'][data['production_companies'].map(
        lambda x: True if compan in x else False)].mean()
print(companies.sort_values(ascending=False))

Four By Two Productions       83
Jim Henson Company, The       59
Dos Corazones                 47
Museum Canada Productions     46
Polsky Films                  46
                              ..
Everest Entertainment          3
Berlanti Productions           3
Global Entertainment Group     2
Ixtlan Productions             2
XM2 Productions                2
Length: 1771, dtype: int64

In [120]:
answers['24'] = '5. Four By Two Productions' #+

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [83]:
companies = data.production_companies.str.cat(sep='|').split('|')
companies = pd.Series(companies)
companies = companies.value_counts(ascending=False)
#добавим колонку с количеством слов в описании фильма(количество пробелов + 1)
data['count_overview'] = data.overview.str.count(' ') + 1 

for compan in companies.index:
    companies[compan] = data['count_overview'][data['production_companies'].map(
        lambda x: True if compan in x else False)].mean()

print(companies.sort_values(ascending=False))

Midnight Picture Show                             175
Heineken Branded Entertainment                    161
Room 9 Entertainment                              161
98 MPH Productions                                159
Brookwell-McNamara Entertainment                  156
                                                 ...
Henceforth                                         13
London Boulevard                                   13
TDJ Enterprises / New Dimensions Entertainment     13
Motion Picture Corporation of America              11
Empire Pictures                                    11
Length: 1771, dtype: int64

In [121]:
answers['25'] = '3. Midnight Picture Show' #+

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [92]:
# у нас всего 1889 фильмов. один процент от этого количества 18.89
# разобьем весь датасет на 19 равных промежутка по vote_average
s = data['vote_average'].value_counts(sort=False, bins=19)
display(s)  # видим что в процент лучих по рейтингу попадает всего 14 фильмов
# выведем их
print(data.loc[(data['vote_average'] > s.index[18].left)
               & (data['vote_average'] <= s.index[18].right)])

(3.294, 3.553]      6
(3.553, 3.805]      4
(3.805, 4.058]      6
(4.058, 4.311]     10
(4.311, 4.563]     19
(4.563, 4.816]     36
(4.816, 5.068]     46
(5.068, 5.321]    152
(5.321, 5.574]    128
(5.574, 5.826]    250
(5.826, 6.079]    201
(6.079, 6.332]    281
(6.332, 6.584]    200
(6.584, 6.837]    206
(6.837, 7.089]    105
(7.089, 7.342]    137
(7.342, 7.595]     40
(7.595, 7.847]     48
(7.847, 8.1]       14
Name: vote_average, dtype: int64

        imdb_id     budget     revenue  \
9     tt2096673  175000000   853708609
34    tt3170832    6000000    35401758
118   tt0816692  165000000   621752480
119   tt2015381  170000000   773312399
125   tt2084970   14000000   233555708
128   tt2267998   61000000   369330363
138   tt2278388   30000000   174600318
370   tt1375666  160000000   825500000
599   tt0468569  185000000  1001921825
872   tt0253474   35000000   120072577
1081  tt0167260   94000000  1118888979
1183  tt0993846  100000000   392000694
1191  tt2024544   20000000   187000000
1800  tt0209144    9000000    39723096

                                     original_title  \
9                                        Inside Out
34                                             Room
118                                    Interstellar
119                         Guardians of the Galaxy
125                              The Imitation Game
128                                       Gone Girl
138                        The Grand Budapest Hotel
370                                       Inception
599                                 The Dark Knight
872                                     The Pianist
1081  The Lord of the Rings: The Return of the King
1183                        The Wolf of Wall Street
1191                               12 Years a Slave
1800                                        Memento

                                                   cast           director  \
9     Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...        Pete Docter
34    Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...   Lenny Abrahamson
118   Matthew McConaughey|Jessica Chastain|Anne Hath...  Christopher Nolan
119   Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...         James Gunn
125   Benedict Cumberbatch|Keira Knightley|Matthew G...      Morten Tyldum
128   Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...      David Fincher
138   Ralph Fiennes|Tony Revolori|F. Murray Abraham|...       Wes Anderson
370   Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...  Christopher Nolan
599   Christian Bale|Michael Caine|Heath Ledger|Aaro...  Christopher Nolan
872   Adrien Brody|Thomas Kretschmann|Frank Finlay|M...     Roman Polanski
1081  Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...      Peter Jackson
1183  Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...    Martin Scorsese
1191  Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...      Steve McQueen
1800  Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...  Christopher Nolan

                                                tagline  \
9              Meet the little voices inside your head.
34                             Love knows no boundaries
118   Mankind was born on Earth. It was never meant ...
119                         All heroes start somewhere.
125   The true enigma was the man who cracked the code.
128         You don't know what you've got 'til it's...
138             A perfect holiday without leaving home.
370                Your mind is the scene of the crime.
599                                     Why So Serious?
872   Music was his passion. Survival was his master...
1081                    The eye of the enemy is moving.
1183                                EARN. SPEND. PARTY.
1191    The extraordinary true story of Solomon Northup
1800                  Some memories are best forgotten.

                                               overview  runtime  \
9     Growing up can be a bumpy road, and it's no ex...       94
34    Jack is a young boy of 5 years old who has liv...      117
118   Interstellar chronicles the adventures of a gr...      169
119   Light years from Earth, 26 years after being a...      121
125   Based on the real life story of legendary cryp...      113
128   With his wife's disappearance having become th...      145
138   The Grand Budapest Hotel tells of a legendary ...       99
370   Cobb, a skilled thief who commits corporate es...      148
599   Batman raises the stakes in his war on crime. ...      152
872   The Pianist is a film adapted from the biograp...      150
1081  Aragorn is revealed as the heir to the ancient...      201
1183  A New York stockbroker refuses to cooperate in...      180
1191  In the pre-Civil War United States, Solomon No...      134
1800  Suffering short-term memory loss after a head ...      113

                                                 genres  \
9                               Comedy|Animation|Family
34                                       Drama|Thriller
118                     Adventure|Drama|Science Fiction
119                    Action|Science Fiction|Adventure
125                          History|Drama|Thriller|War
128                              Mystery|Thriller|Drama
138                                        Comedy|Drama
370   Action|Thriller|Science Fiction|Mystery|Adventure
599                         Drama|Action|Crime|Thriller
872                                           Drama|War
1081                           Adventure|Fantasy|Action
1183                                 Crime|Drama|Comedy
1191                                      Drama|History
1800                                   Mystery|Thriller

                                   production_companies release_date  \
9     Walt Disney Pictures|Pixar Animation Studios|W...   2015-06-09
34    Element Pictures|No Trace Camping|A24|Duperele...   2015-10-16
118   Paramount Pictures|Legendary Pictures|Warner B...   2014-11-05
119   Marvel Studios|Moving Picture Company (MPC)|Bu...   2014-07-30
125              Black Bear Pictures|Bristol Automotive   2014-11-14
128   Twentieth Century Fox Film Corporation|Regency...   2014-10-01
138   Fox Searchlight Pictures|Scott Rudin Productio...   2014-02-26
370             Legendary Pictures|Warner Bros.|Syncopy   2010-07-14
599   DC Comics|Legendary Pictures|Warner Bros.|Syncopy   2008-07-16
872   Bac Films|Canal+Polska|Heritage Films|Studio B...   2002-09-24
1081                      WingNut Films|New Line Cinema   2003-12-01
1183  Paramount Pictures|Appian Way|EMJAG Production...   2013-12-25
1191  Plan B Entertainment|Regency Enterprises|River...   2013-10-18
1800  Summit Entertainment|Newmarket Capital Group|T...   2000-10-11

      vote_average  release_year      profit  month  len_original_title  \
9              8.0          2015   678708609      6                  10
34             8.0          2015    29401758     10                   4
118            8.0          2014   456752480     11                  12
119            7.9          2014   603312399      7                  23
125            8.0          2014   219555708     11                  18
128            7.9          2014   308330363     10                   9
138            7.9          2014   144600318      2                  24
370            7.9          2010   665500000      7                   9
599            8.1          2008   816921825      7                  15
872            7.9          2002    85072577      9                  11
1081           7.9          2003  1024888979     12                  45
1183           7.9          2013   292000694     12                  23
1191           7.9          2013   167000000     10                  16
1800           7.9          2000    30723096     10                   7

      count_overview
9                112
34                49
118               35
119               28
125               46
128               30
138               66
370               44
599               67
872               39
1081              45
1183              29
1191              61
1800              78

In [122]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' #+

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [94]:
cast = pd.Series(data['cast'].str.cat(sep='|').split('|'))
cast = cast.value_counts(ascending=False)
#сокращаем список(выкидываем актеров которые встречаются 1 раз)
cast = cast.loc[cast.apply(lambda x: x > 1)]

i=0

for actor in cast.index:
    data_actor = data[data.cast.str.contains(actor, na=False)]
    cast_actor = pd.Series(data_actor['cast'].str.cat(sep='|').split('|'))
    cast_actor = cast_actor.value_counts(ascending=False)
    if i==0:
        series_res = pd.Series([cast_actor.iloc[1]],
                 index = [cast_actor.index[0] + '&' + cast_actor.index[1]])
    else:
        series_res = series_res.append(pd.Series([cast_actor.iloc[1]],
                 index = [cast_actor.index[0] + '&' + cast_actor.index[1]]))
    
    i+=1

series_res_db = pd.DataFrame(series_res, columns=['count'])
print(series_res_db.sort_values(by = ['count'], ascending = [False]))    
#можно еще убрать двойников, но и так все видно

                                  count
Daniel Radcliffe&Emma Watson          8
Emma Watson&Rupert Grint              8
Rupert Grint&Emma Watson              8
Ben Stiller&Owen Wilson               6
Owen Wilson&Ben Stiller               6
...                                 ...
Carice van Houten&Liev Schreiber      1
Robert Forster&Peter Facinelli        1
Jason Flemyng&Shane West              1
Taryn Manning&Zoe Saldana             1
Martin Donovan&Kiefer Sutherland      1

[1519 rows x 1 columns]

In [123]:
answers['27'] = '5. Daniel Radcliffe&Rupert Grint' #+

ВАРИАНТ 2

# Submission

In [124]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe&Rupert Grint',
 '1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107.0',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь'}

In [125]:
# и убедиться что ни чего не пропустил)
len(answers)

27